:root {
  /* Main Colors */
  --clr-main: #e7dab3;
  --clr-bg: #0f0f12;
  --clr-dark: rgba(35, 35, 35, 0.95);
  --clr-light: #fff6ef;
  --clr-accent: #ee8532;
  --clr-accent-dark: #44445d;
  --clr-accent-darker: #26263a;
  --clr-dark-card: rgb(48, 48, 48);
  --clr-text-dark: rgba(0, 0, 0, 0.9);
  --clr-text-light: rgba(255, 255, 255, 0.9);

  /* Social Colors */
  --clr-appleMusic: #e7515f;
  --clr-facebook: #425894;
  --clr-imdb: #edc748;
  --clr-spotify: #65d46e;
  --clr-amazonMusic: #3d06f3;
  --clr-instagram: linear-gradient(45deg, #733da6, #e39736 60%);
  --clr-youtube: #ea3323;

  /* Fonts */
  --ff-sans-serif: "Lato", sans-serif;
  --fw-thin: 300;
  --fw-regular: 400;
  --fw-bold: 700;

  /* Other */
  --br-card: 0.75em;
}

/* BUTTONS */

.btn {
  cursor: pointer;
  border: none;
  padding: 1em 2em;
  font-weight: var(--fw-bold);
  margin: 0 auto;
  border-radius: 1em;
  width: fit-content;
  font-size: 0.95rem;

  &:hover,
  &:focus {
    transition: 300ms;
  }
}

.btn-light {
  color: var(--clr-text-dark);
  background-color: var(--clr-text-light);
  &:hover,
  &:focus {
    color: var(--clr-text-light);
    background-color: var(--clr-accent);
  }
}

.btn-dark {
  color: var(--clr-text-light);
  background-color: var(--clr-text-dark);
  &:hover,
  &:focus {
    color: var(--clr-text-dark);
    background-color: var(--clr-text-light);
  }
}

/* CARDS */

.cards-container {
  display: flex;
  flex-direction: column;
  gap: 2em;
  max-width: 95%;
  margin-inline: auto;
}

.card {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  text-align: center;
  max-width: 40em;
  border-radius: var(--br-card);
  box-shadow: 0 10px 10px 0 rgb(0 0 0 / 20%);

  background-color: var(--clr-light);

  & img {
    display: block;
    max-width: 100%;
    object-fit: cover;
  }
}

@media screen and (min-width: 1000px) {
  .cards-container {
    max-width: 1400px;

    &.singles,
    &.albums {
      max-width: 1200px;
    }
  }
}

/* FORM */

.form {
  display: flex;
  flex-direction: column;
  gap: 1.25em;
  background-color: var(--clr-dark-card);
  margin: 0 auto;
  margin-top: 2em;
  padding: 2em 0.75em;
  width: 85%;
  max-width: 39em;
  border-radius: 0.75em;
  text-align: center;

  box-shadow: 0 10px 10px 0 rgb(0 0 0 / 20%);

  &--field {
    display: flex;
    flex-direction: column;
  }

  &--label {
    color: var(--clr-text-light);
    margin-bottom: 0.5em;
    font-weight: var(--fw-bold);
  }

  &--input,
  &--textarea {
    width: 80%;
    max-width: 330px;
    margin: 0 auto;
    font-family: var(--ff-sans-serif);
  }

  &--input {
    font-size: 1rem;
    height: 2em;
    text-align: center;
  }

  &--submit {
    margin-bottom: 0;
    &:disabled {
      cursor: not-allowed;
      pointer-events: all !important;
    }

    &:hover,
    &:focus {
      background-color: var(--clr-accent);
    }
  }

  &--error,
  &--success {
    color: var(--clr-text-light);
    font-size: 0.8em;
    margin-top: 0.5em;
  }

  &--success {
    margin-top: 1.25em;
  }
}

/* SOCIAL */

.social-container {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 2em;
  padding-bottom: 3em;

  margin-top: 2em;

  & a {
    color: var(--clr-text-light);

    &:last-of-type {
      bottom: -0.15rem;
      position: relative;
    }

    &:nth-of-type(4) {
      font-size: 2.4rem;
      position: relative;
      top: -0.15rem;
    }
  }
}

.social {
  text-decoration: none;
  color: var(--clr-text-light);
  font-size: 2em;
  transition: all 150ms ease-in-out;

  &:hover,
  &:focus {
    transform: scale(1.1);
    opacity: 0.8;
  }

  &.dark {
    color: var(--clr-text-dark);
  }
}

@media screen and (min-width: 820px) {
  .social {
    &:hover,
    &:focus {
      transform: scale(1.2);
      opacity: 1;
    }

    &:hover::after,
    &:focus::after {
      transform: scale(1);
    }
  }
}

/* COOKIES */

.cc-window {
  background-color: rgba($color: #000000, $alpha: 0.7);
  color: var(--clr-light);
  font-size: 0.85em;
  flex-direction: column !important;
  align-items: center !important;
}

.cc-message {
  padding-bottom: 0.75em;

  & a {
    color: var(--clr-light) !important;
  }
}

.cc-btn {
  background-color: var(--clr-accent);
  border-color: var(--clr-accent);
  &:hover,
  &:focus {
    background-color: var(--clr-light);
    color: var(--clr-text-dark);
    border-color: var(--clr-text-dark);
  }
}

@media screen and (min-width: 750px) {
  .cc-window {
    left: 1em !important;
    bottom: 1em !important;
    width: 25em !important;
  }
}
