<div class="page">
    <h2 class="page-title">Videoclip</h2>

    <div class="video-container" >
        <div class="video--item" *ngFor="let link of youtubeLinks">
            <iframe width="560" height="315" [src]='sanitizeUrl(link.link)' title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>


    <button routerLink="contatti" class="btn btn-dark">Contatti</button>
</div>
