/* Main colors */

$main: #e7dab3;
$background: #0f0f12;
$dark: rgba(35, 35, 35, 0.95);
$light: #fff6ef;
$accent: #ee8532;
$accent-dark: #44445d;
$accent-darker: #26263a;
$dark-card: rgb(48, 48, 48);
$gradient: linear-gradient(80deg, #402616, #dbaf3e 60%);

/* Typography */
$text-dark: rgba(0, 0, 0, 0.9);
$text-light: rgba(255, 255, 255, 0.9);

/* Brands */
$appleMusic: #e7515f;
$facebook: #425894;
$imdb: #edc748;
$spotify: #65d46e;
$amazonMusic: #3d06f3;
$instagram: linear-gradient(45deg, #733da6, #e39736 60%);
$youtube: #ea3323;
