/* HERO */

.hero,
.hero--text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero {
  padding: 0 1rem;
  padding-top: 3em;
  background-image: url(../../assets/img/concert.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--clr-bg);
  background-position-x: -22em;

  color: var(--clr-text-light);

  &--img {
    background-image: url(../../assets/img/headshot.jpg);
    width: 10em;
    height: 10em;
    margin: 0 auto;
    background-size: cover;
    border-radius: 50%;
    border: 3px solid var(--clr-text-light);
    margin-top: 3em;
    box-shadow: 3px 10px 20px 0 rgb(0, 0, 0, 0.6);
  }

  & h1 {
    display: none;
  }

  &--logo {
    max-width: 20em;
    margin-top: 2em;
  }

  &--cta {
    margin-top: 1.5em;
    margin-bottom: 2em;
    text-align: center;
    & p {
      color: var(--clr-text-light);

      &::after {
        content: "";
        display: block;
        background-color: var(--clr-text-light);
        height: 2px;
        border-radius: 1px;
        width: 20%;
        margin: 0.25em auto 0 auto;
      }
    }

    .music-stream {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: 1.5em;

      & a {
        text-decoration: none;
        color: var(--clr-text-light);
        font-size: 2.25rem;
        transition: all 100ms ease-in;

        &:last-of-type {
          bottom: -0.15rem;
          position: relative;
        }

        &:nth-of-type(2) {
          font-size: 2.4rem;
          position: relative;
          top: -0.15rem;
        }

        &:hover,
        &:focus {
          transform: scale(1.1);
          opacity: 0.8;
        }
      }
    }
  }

  &-button {
    margin-bottom: 3em;
  }

  &--social {
    display: flex;
    justify-content: space-between;
    gap: 1.5em;
    padding: 0.5em 1.25em 0.25em 1.25em;
    background-color: var(--clr-accent);
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;

    & a {
      color: var(--clr-text-dark);
    }
  }
}

@media screen and (min-width: 695px) {
  .hero {
    background-size: auto;
    background-position-y: -20em;
    background-position-x: 0;
  }
}

/* ULTIME USCITE */

.news {
  display: flex;
  flex-direction: column;
  gap: 1em;

  & .section-title {
    margin-bottom: 0;
  }

  &-container {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
    gap: 1.5em;
  }

  &--card {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 700px;
    margin-inline: auto;

    &--title {
      padding-bottom: 0;
      width: fit-content;
      text-align: center;
      margin-inline: auto;
      text-transform: uppercase;
      font-weight: var(--fw-regular);
      font-size: 1rem;

      &::after,
      &::before {
        content: "";
        display: block;
        background-color: var(--clr-text-light);
        height: 1px;
        width: 100%;
      }

      &::before {
        margin-bottom: 0.25rem;
      }
      &::after {
        margin-top: 0.25rem;
      }
    }

    & iframe {
      padding-bottom: 1.5em;
    }

    &--cta {
      text-decoration: none;
      color: var(--clr-accent);
      font-weight: var(--fw-regular);
      transition: all 100ms ease-in-out;

      &:hover,
      &:focus {
        color: var(--clr-text-light);
        font-size: 0.95em;
        opacity: 0.9;
      }
    }
  }

  & .btn {
    margin-top: 1.5em;
  }
}

/* VIDEO */

.video {
  &--container {
    display: flex;
    flex-direction: column;
    gap: 2em;
    width: 90%;
    margin-inline: auto;
    margin-bottom: 2em;
  }

  & iframe {
    max-width: 100%;
  }
}

/* FOTO */

.foto {
  padding-bottom: 2em;
  &-container {
    padding-bottom: 2em;
    display: grid;
    grid-template-columns: 1fr;
  }
  &--img {
    display: block;
    margin: 0;
  }
}

@media screen and (min-width: 500px) {
  .foto {
    &-container {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

@media screen and (min-width: 900px) {
  .news {
    &-container {
      flex-direction: row;
      max-width: 1100px;
    }
  }

  .video {
    &--container {
      max-width: 1100px;
      flex-direction: row;
      gap: 1.5em;
    }
  }
}
