<div class="hero">
    <div class="hero--img"></div>
    <div class="hero--text">
        <h1>Fernando Alba</h1>
        <div class="hero--logo"><img src="../../assets/img/logo_fa.png" alt="Fernando Alba"></div>
        <div class="hero--cta">
            <p>
                Ascolta subito:
            </p>
            <div class="music-stream">
                <a href="https://open.spotify.com/artist/5AILp7055BTaKEXHK4M3NO?si=zbm3s7ZoTdKjLy4ogh3YDg" target="_blank" class="music-stream--service"><i class="fa-brands fa-spotify"></i></a>
                <a href="https://music.apple.com/it/artist/fernando-alba/379834270" target="_blank" class="music-stream--service"><i class="fa-brands fa-apple"></i></a>
                <a href="https://music.amazon.it/artists/B009MFSM18/fernando-alba?marketplaceId=APJ6JRA9NG5V4&musicTerritory=IT&ref=dm_sh_6rUDLp5RvJZenHCVVZjN7ckxI" target="_blank" class="music-stream--service"><i class="fa-brands fa-amazon"></i></a>
            </div>
        </div>
        <button routerLink="contatti" class="btn btn-light hero-button">Contatti</button>
        <div class="hero--social">
            <a href="https://www.facebook.com/fernandoalbafanpage" target="_blank" class="hero--social--link social"><i class="fa-brands fa-facebook"></i></a>
          <a href="https://www.instagram.com/Fernando_alba" target="_blank" class="hero--social--link social"><i class="fa-brands fa-square-instagram"></i></a>
        </div>
    </div>
</div>

<section class="section dark news">
    <h3 class="section-title">Ultime uscite</h3>
    <div class="news-container">
        <div class="news--card">
                <p class="news--card--title">Il sole e la luna</p>
                <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/1CrkLged6RBV11ayYEcU4N?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
                <a href="" target="_blank" class="news--card--cta">Ascolta su tutte le piattaforme</a>
        </div>
        <div class="news--card">
                <p class="news--card--title">La canzone del mondo</p>
                <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/5WT8nHjjAzI9jZCrD4WH5G?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
                <a href="http://hyperurl.co/falba_lcdm" target="_blank" class="news--card--cta">Ascolta su tutte le piattaforme</a>
        </div>
    </div>
    <button routerLink="discografia" class="btn btn-light">Discografia</button>
</section>

<section class="section light info">
    <h3 class="section-title light">Su di me</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci, non exercitationem enim alias perspiciatis animi quis <strong>tempora repellendus</strong>, natus consequatur quidem neque accusamus! Voluptatum incidunt sequi vel dignissimos eum! Eaque?
    Iste deleniti consectetur alias quisquam cumque suscipit odit quam harum excepturi, adipisci quasi? Soluta non possimus eligendi deleniti amet modi, minus <strong>dignissimos aliquam commodi</strong> quisquam nisi expedita ut maiores nobis!
    Ut non voluptatibus alias id inventore! Itaque commodi velit ea similique. Modi voluptas vitae nihil accusamus labore dolorem nulla, quas atque corporis architecto id a magnam iure tempore consequatur omnis.</p>

    <p class="citazione">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci, non exercitationem enim alias perspiciatis animi quis tempora repellendus, <strong>natus consequatur quidem</strong> neque accusamus! Voluptatum incidunt sequi vel dignissimos eum! Eaque?
        Iste deleniti consectetur alias quisquam cumque suscipit odit quam harum excepturi, adipisci quasi? Soluta non possimus eligendi deleniti amet modi, minus dignissimos aliquam commodi quisquam nisi expedita ut maiores nobis!
        Ut non voluptatibus alias id inventore! Itaque commodi velit ea similique. <strong>Modi voluptas vitae</strong> nihil accusamus labore dolorem nulla, quas atque corporis architecto id a magnam iure tempore consequatur omnis.</p>

    <button routerLink="biografia" class="btn btn-dark">Tutta la bio</button>
</section>

<section class="section dark video">
    <h3 class="section-title">Ultimi videoclip</h3>

    <div class="video--container">
        <div class="video--embed">
            <iframe width="530" height="298" src="https://www.youtube.com/embed/rEuuo8XYre0" title="Fernando Alba - Pensiero Fisso (Official Videoclip)" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="video--embed">
            <iframe width="530" height="298" src="https://www.youtube.com/embed/yf5e-cslqsY" title="Fernando Alba - Terreno Inerte (Official Videoclip)" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>

    <button routerLink="video" class="btn btn-light">Tutti i video</button>
</section>

<section class="section foto">
    <div class="foto-container">
        <img src="../../assets/img/noemi-fe.jpg" alt="" class="foto--img">
        <img src="../../assets/img/fe-canta.jpg" alt="" class="foto--img">
        <img src="../../assets/img/fe-pelle.jpg" alt="" class="foto--img">
    </div>
    <button routerLink="contatti" class="btn btn-dark">Contatti & Booking</button>
</section>
